*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
form {
    width: 36%;
    margin: 230px auto;
    background: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    border:1px solid #353535;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 99;
    display: grid;
    transition: 0.7s;
    text-align: center;
    /* filter: blur(15px); */
}
form h5{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
}
/* form:hover{
    filter: blur(0px);
    transition: 0.7s;
} */
input{
    width: 100%;
    height: 50px;
    padding: 10px;
    background: transparent;
    border: 1px solid #777777;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 2px;
    color: black;
    margin-bottom: 17px;
}
button{
    border-radius: 58px;
    padding: 17px;
    letter-spacing: 0px;
    font-size: 15px;
    font-family: 'Source Code Pro', monospace;
    border: 1px solid;
    color: white;
    background-color: #353535;
    transition: 0.3s;
    cursor: pointer;
    padding-left: 91px;
    padding-right: 91px;
    margin: 0 auto;
}
button:hover{
    color: #353535;
    transition: 0.3s;
    scale: 1.06;
    background-color: white;
}